.DS_Store
bin/
obj/
resources/
Debug/
.qmake.stash
.xcode/
MatrixMiX.xcodeproj/
Info.plist
DerivedData/
moc_predefs.h
moc/
MatriXMiX.pro.user*
MatriXMiX.pro.user
matrix.make
src/AbstractOperationWidget.autosave
src/AbstractOperationWindow.cpp.autosave
src/AbstractOperationWindow.h.autosave
src/BinaryOperationWindow.h.autosave
MakefileQt
MatriXMiX.make
matrixmix_plugin_import.cpp
